# SPY Server Configuration File

# TCP Listener
#
bind_host = 0.0.0.0
bind_port = 5555
maximum_clients = 100

# Device Type
# Possible Values:
#   AirspyOne (R0, R2, Mini)
#   AirspyHF+
#   RTL-SDR
#
device_type = AirspyOne

# Device Serial Number as 64bit Hex
# A value of 0 will acquire the first available device
#
device_serial = 0

# Device Sample Rate
# Possible Values:
#   Airspy R0, R2 : 10000000 or 2500000
#   Airspy Mini   :  6000000 or 3000000
#   Airspy HF+    :   744192
#   RTL-SDR       :   500000 to 3200000
# Comment to use the device's default
#
#device_sample_rate = 2500000

# FFT Frames Per Second
#
fft_fps = 20

# Initial Center Frequency
#
#initial_frequency = 7100000

# Minimum Tunable Frequency
# Comment if using the device default
#
#minimum_frequency = 0

# Maximum Tunable Frequency
# Comment if using the device default
#
#maximum_frequency = 35000000

# Frequency Correction in PPB
#
frequency_correction_ppb = 0

# Initial Gain
#
initial_gain = 5

# Minimum Bandwidth
# Comment means default minimum
#minimum_bandwidth = 15000

# Maximum Bandwidth
# Comment means default maximum
#
#maximum_bandwidth = 8000000

# Converter Offset
# Set to -120000000 to enable the SpyVerter offset
#converter_offset = -120000000

# Bias-Tee
# For AirspyOne only - Useful for LNA's and SpyVerter
enable_bias_tee = 0

# Allow clients to control the device
#
allow_control = 1

# Buffer Size (in milliseconds)
#
buffer_size_ms = 10

# Buffer Count
#
buffer_count = 8
